accelerate
bitsandbytes
datasets
fire
peft
git+https://github.com/2proveit/transformers.git@prepare_for_continual_training
sentencepiece
deepspeed
numpy
wandb
qpth
pandas
tqdm
evaluate
rouge
fuzzywuzzy
nltk
prettytable
sacrebleu
sacremoses